/* Grid layout */
.grid-container {
  display: grid;
  column-gap: 14%;
  row-gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(40px, 250px) );
}

/* Organisers */
/* Add some shadows to create a card effect */
.card_org {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container_org img {
  width:  428px;
  height: 286px;
}

/* Authors */
.column_aut {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  justify-content: space-around;
}

/* Add some shadows to create a card effect */
.card_aut {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:  200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  /* justify-content:space-between; */
  align-items: center;
  text-align: center;
}

.container_aut img {
  width:  200px;
  height: 200px;
}

/* Exemplars */

/* Add some shadows to create a card effect */
.card_ex {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline-style:groove;
    outline-color:rgb(68, 173, 138);
    width:  350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.tools_ex{
  margin-bottom:-10px;
}